<?xml version="1.0"?>
<configuration>
  <appSettings>
    <clear/>
    <!--單一登入測試網址-->
    <add key="DomainURL" value="http://192.168.1.35:10001/"/>
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--設定 compilation debug="true" 會將偵錯符號插入編譯過的頁面。-->
    <!--因為這樣會影響效能，所以只有在開發期間才能將這個值設定為 true。-->
    <compilation debug="true" targetFramework="4.8"/>
    <!--如果設定為 enableVersionHeader= true. 則該網站會回傳過多的版本資訊給使用者。-->
    <!--間接讓駭客有機會查詢該版本已知的弱點進行攻擊。-->
    <httpRuntime enableVersionHeader="false" targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <!--壓縮(Compression)-->
    <!--用於配置靜態壓縮和動態壓縮-->
    <urlCompression doDynamicCompression="true" doStaticCompression="true"/>
    <!--瀏覽目錄(Directory Browsing)-->
    <!--禁止瀏覽目錄-->
    <directoryBrowse enabled="false"/>
    <!--HTTP 回應標頭(HTTP Response Headers)-->
    <httpProtocol>
      <customHeaders>
        <!--script 和 styleSheet 元素會拒絕 MIME 類型錯誤的回應。此為安全性功能，有助於防止因 MIME 類型混淆而進行的攻擊。-->
        <remove name="X-Content-Type-Options"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <!--不允許被本域以外的頁面以<iframe>或<frame>的形式嵌入-->
        <remove name="X-Frame-Options"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <!--啟用XSS保護，並在檢查到XSS攻擊時，停止渲染頁面（例如IE8中，檢查到攻擊時，整個頁面會被一個#替換）-->
        <remove name="X-XSS-Protection"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <!--避免告訴別人系統是ASP.NET撰寫的-->
        <remove name="X-Powered-By"/>
        <!--關閉相容性檢視-->
        <remove name="X-UA-Compatible"/>
        <add name="X-UA-Compatible" value="IE=Edge"/>
      </customHeaders>
    </httpProtocol>
    <!--預設文件(Default Document)-->
  </system.webServer>
</configuration>